# Component 1: Tohoku Earthquake Dataset

# Transportable Array Interactive
Show how the transportable array responded to an earthquake.

In [1]:
import pandas as pd

## Data cleaning

In [2]:
# read in location data
locations = pd.read_table("data/location.txt", names = ["longitude", "latitude", "data1", "data2"])

In [3]:
locations.head()

   longitude  latitude  data1 data2
0    -98.683    27.065      1     #
1    -98.102    26.938      1     #
2    -98.068    26.463      1     #
3   -117.110    32.889      1     #
4   -107.790    32.532      1     #

In [4]:
# keep only relevant data (longitude and latitude)
locations.drop(["data1", "data2"], inplace=True, axis=1)

In [6]:
locations.head()

   longitude  latitude
0    -98.683    27.065
1    -98.102    26.938
2    -98.068    26.463
3   -117.110    32.889
4   -107.790    32.532