# Component 1: Tohoku Earthquake Dataset

# Transportable Array Interactive
Show how the transportable array responded to an earthquake.

In [1]:
import pandas as pd

## 1. Data cleaning

### 1.1 Detector station location data

In [2]:
# read in location data
locations = pd.read_table("data/location.txt", names = ["lon", "lat", "data1", "data2"])

In [3]:
locations.head()

       lon     lat  data1 data2
0  -98.683  27.065      1     #
1  -98.102  26.938      1     #
2  -98.068  26.463      1     #
3 -117.110  32.889      1     #
4 -107.790  32.532      1     #

In [4]:
# keep only relevant data (longitude and latitude)
locations.drop(["data1", "data2"], inplace=True, axis=1)

In [5]:
locations.head()

       lon     lat
0  -98.683  27.065
1  -98.102  26.938
2  -98.068  26.463
3 -117.110  32.889
4 -107.790  32.532

In [6]:
locations.loc[1]

lon   -98.102
lat    26.938
Name: 1, dtype: float64

### Location of Tohoku earthquake
According to NASA's [Earth Observertory website](https://earthobservatory.nasa.gov/images/49621), the Tohoku earthquake struck Japan at "at 38.3 degrees North latitude and 142.4 degrees East longitude". Based on this information, we set the center location of Tohoku earthquake accordingly (Longitude, Latitude).

In [7]:
# center point of the tohoku earthquake
earthquake = (-142.4, 38.3)

In [10]:
# calculate distance between each detector station and Tohoku earthquake location 
# on a sphere given their longitudes and latitudes.
from haversine import haversine
locations['distance'] = [haversine(locations.loc[i], earthquake) for i in locations.index]

In [12]:
# name index column
locations.index.name = "station"

In [13]:
locations.head()

             lon     lat     distance
station
0        -98.683  27.065  4882.202882
1        -98.102  26.938  4945.643921
2        -98.068  26.463  4951.013870
3       -117.110  32.889  2836.018544
4       -107.790  32.532  3862.182187

In [17]:
sorted_locations = locations.sort_values(by=["distance"])

In [20]:
sorted_locations.head()

            lon     lat     distance
station
211     -123.93  43.161  2085.521385
193     -123.85  44.106  2107.533459
228     -123.67  42.696  2108.169394
244     -123.60  42.158  2110.018927
194     -123.35  43.697  2155.636091

In [21]:
sorted_locations.index

Int64Index([211, 193, 228, 244, 194, 288, 257, 165, 272, 151,
            ...
             63,  50, 121, 359, 375, 242, 286, 269, 304, 287],
           dtype='int64', name='station', length=438)

### 1.2 Detector stations time and magnitude data from Tohoku Earthquake